.scatter-plot {
  .axis path,
  .axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
  }

  .dot {
    stroke: #000;
  }
}

.tooltip {
  background: grey;
  padding: .5rem;
  border-radius: .3rem;
  color: white;
}