<div class="container">

  <navbar></navbar>

  <div ng-if="main.loading">Loading...</div>

  <h1 class="overall-title">Batters</h1>
  <div ng-repeat="batter in main.battersData">
    <div class="row individual-batter">
      <a ui-sref="individualBatter({ batterId: batter.id })">
        <div class="col-md-1">
          <img ng-src="{{batter.image}}" class="profile-pic">
        </div>
        <div class="col-md-11">
          <h1 class="name">{{batter.name}}</h1>
        </div>
      </a>
    </div>
  </div>
  
</div>