<div class="container batter">

  <navbar></navbar>

  <div ng-if="batter.loading">Loading, please wait</div>

  <div class="row">
    <div class="col-md-1">
      <img ng-src="{{batter.batterData.image}}" class="profile-pic">
    </div>
    <div class="col-md-11">
      <h1>{{batter.batterData.name}}</h1>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <h3>2014 Overall</h3>
      <table class="table table-bordered overall-table">
        <thead>
          <tr>
            <th>Batting AVG</th>
            <th>RBIs</th>
            <th>Home Runs</th>
            <th>Hits</th>
            <th>At Bats</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>{{batter.battingAverage | number: 3}}</td>
            <td>{{batter.RBIs}}</td>
            <td>{{batter.HRs}}</td>
            <td>{{batter.Hs}}</td>
            <td>{{batter.ABs}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <scatter-plot ng-if="!batter.loading" data="batter.battingAverageOverTime" parse-date="'%Y-%m-%d'" height="300" margin="batter.margin" title="'Batting Average Over Time'" y-prop="'ba'" class="scatter-plot"></scatter-plot>
      <div class="line"></div>
      <scatter-plot ng-if="!batter.loading" data="batter.RBIOverTime" parse-date="'%Y-%m-%d'" height="300" margin="batter.margin" title="'Cumulative RBIs Over Time'" y-prop="'rbi'" class="scatter-plot"></scatter-plot>
      
    </div>
  </div>
  
</div>